
*.ini
.ipynb_checkpoints/GP2-checkpoint.ipynb
.ipynb_checkpoints/New_Group_Project_Data_Analytic-checkpoint.ipynb
WQD7003-Grp-Project.rar
.ipynb_checkpoints/New_Group_Project_Data_Analytic (1)-checkpoint.ipynb
